.button {
	-fx-background-color: rgb(0, 115, 207);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.root {
	-fx-background-color: rgba(0, 0, 0, 0);
} 

.text-field {
	-fx-border-color: rgb(0, 115, 207);
	-fx-text-fill: rgb(57, 74, 88);
}

.text-area {
	-fx-border-color: rgb(0, 115, 207);
	-fx-font-weight: bold;
	-fx-text-fill: rgb(57, 74, 88);
}

.tab {
	-fx-background-color: rgb(255, 128, 0);
}

.tab:selected {
	-fx-background-color: rgb(0, 115, 207);
}

.tab-label {
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.label {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(57, 74, 88);
}

.list-view .list-cell:filled:even:selected {
	-fx-background-color: rgb(255, 128, 0);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.list-view .list-cell:filled:odd:selected {
	-fx-background-color: rgb(255, 128, 0);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.list-view .list-cell:filled:odd {
	-fx-background-color: #ffffff;
	-fx-font-weight: bold;
}

.list-view .list-cell:filled:even {
	-fx-background-color: rgb(0, 115, 207);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.list-view .list-cell:filled:hover {
	-fx-background-color: rgb(255, 128, 0);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.combo-box .list-cell:filled:selected {
	-fx-background-color: rgb(255, 128, 0);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.combo-box-base {
	-fx-background-color: rgb(255, 128, 0);
}

.combo-box-popup .list-cell:filled:even:hover {
	-fx-background-color: rgb(255, 128, 0);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:odd:hover {
	-fx-background-color: rgb(255, 128, 0);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:even {
	-fx-background-color: rgb(0, 115, 207);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:odd {
	-fx-background-color: rgb(0, 115, 207);
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}
